<div class="row align-self-end">
    <img src="assets/img/reserved.jpg" alt="asztalfoglalás">
</div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-2 mb-2">
            <div *ngFor="let row of rows" class="row my-4 fw-bold">
                    {{ row.text }}
            </div>
        </div>

        <div class="col-4">
            <div *ngFor="let row of rows" class="col my-2"> 
                <input [(ngModel)]="newReservation[row.key]" type="text" class="form-control">
            </div>
        </div>
    </div>

        <!-- Hozzáadás gomb -->

    <div class="row-4 d-flex justify-content-center">
        <button (click)="onNewReservation()" type="button" class="btn btn-dark">Foglalás</button>    
    </div>
</div>    