<div class="row-3 mb-2 d-flex justify-content-center align-items-center">
    <img src="assets/img/udito.jpg" alt="üdítő">
</div>

<!-- Fejléc -->
<div class="row">
    <div *ngFor="let col of drinkCols" class="col text text-light bg-dark"> <!-- italoszlopok meghívása kell -->
        {{ col.text }}
    </div>
</div>

<!-- Tartalom -->

<div *ngFor="let drink of drinks" class="row my-3 border border-3 fw-bold">
    <div *ngFor="let col of drinkCols" class="col"> <!-- italoszlopok meghívása kell -->
        {{ drink[col.key] }}
    </div>
</div>
