<footer class="container-xxl text-center text-sm-start bg-body-tertiary text-muted">
    <section class="bg-dark text-light">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 mt-3">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-6"></i>Well Fed Restaurant
            </h6>
            <p>
              Abandon Hunger All Ye Who Enter Here!
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 mt-3">
            <h6 class="text-uppercase fw-bold mb-4">
              Termékkínálat
            </h6>
            <p>
              Étel
            </p>
            <p>
              Ital
            </p>
            <p>
              Heti menü
            </p>
            <p>
              Asztalfoglalás
            </p>
          </div>
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 mt-3">
            <h6 class="text-uppercase fw-bold mb-4">Elérhetőség</h6>
            <p><i class="fas fa-home"></i>Magyarország, 1234 Valahol, ErreMegArra út 72.</p>
            <p>
              <i class="fas fa-envelope"></i>
              info@example.com
            </p>
          </div>
        </div>
      </div>
    </section>
  
    <div class="text-center bg-dark text-light">
      © 2021 Minden Jog Fenntartva:
      <span class="text-reset fw-bold">localhost:4200</span>
    </div>
  </footer>
