<h1>Dolgozói felület - Heti Menü szerkesztő</h1>
<br>

<div class="row">
    <div *ngFor="let column of columns" class="col">
        {{ column }}
    </div>    
    <div class="col">
        Menü módosítása
    </div>
</div>

<div *ngFor="let menu of weeklyMenu" class="row">
    <div *ngFor="let column of columns; let i = index" class="col">
        {{ menu[column] }}
    </div>    
</div>

<div class="col d-grid gap-2 d-md-block">
    <button class="btn btn-primary text-right" type="button">Módosít</button>
</div>

