<div class="container">
    <h1 class="text-center">
        <img src="assets/img/restaurant.png" alt="restaurant" width="75" height="75" class="text-center">
        Well Fed Restaurant
    </h1>
</div>

<br>

<nav class="navbar navbar-expand-lg">
    <div class="container justify-content-center">
        <ul class="navbar-nav text-center">

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Főoldal
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
            routerLink="/menu"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Menü
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link"
            routerLink="/etlap"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Étlap
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="/itallap"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Itallap
          </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" 
            routerLink="/asztalfoglalas"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Asztalfoglalás
          </a>
          </li>

          <li *ngIf="user" class="nav-item">
            <a class="nav-link" 
            routerLink="/adminpanel"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Adminpanel
          </a>
          </li>

          <li *ngIf="!user" class="nav-item">
            <a class="nav-link" 
            routerLink="/login"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Bejelentkezés
          </a>
          </li>

          <li *ngIf="user" class="nav-item">
            <a class="nav-link" 
            (click)="signOut()"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}" >
            Kijelentkezés
          </a>
          </li>

        </ul>
      </div>
  </nav>
  <br>

